@import url('https://fonts.googleapis.com/css?family=Asap:400,500,700');

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    background-color: #292c34;
}

header{
    background: rgb(255, 255, 255);
    padding: 20px;
}

header > h1{
    color:#292c34;
    text-align: center;
    font-family: 'Asap',sans-serif;
}

/* =======================
            SCOREBOARD
========================== */

.scoreboard{
    position: relative;
    border: 3px solid white;
    width: 200px;
    margin: 20px auto;
    color: rgb(255, 255, 255);
    font-size: 46px;
    border-radius: 4px;
    text-align: center;
    padding: 15px 20px;
    font-family: 'Asap', sans-serif;
}

.badge{
    background-color: #E2584D;
    color: #ffffff;
    font-size: 14px;
    padding:2px 10px;
    font-family: 'Asap', sans-serif;
}

/* =======================
            LABELS
========================== */

#user-label{
    position: absolute;
    top: 30px;
    left: -25px;
}

#computer-label{
    position: absolute;
    top: 30px;
    right: -30px;
}

/* =======================
            RESULTS
========================== */

.results{
    font-size: 40px;
    color: white;
}

.results > p {
    text-align: center;
    font-family: 'Asap',sans-serif;
    font-weight: bold;
}

/* =======================
            CHOICES
========================== */

.choices{
    text-align: center;
    margin-top: 50px;
}

.choice{
    display: inline-block !important;
    border: 4px solid white;
    border-radius: 50%;
    padding: 10px;
    margin: 0 20px;
    transition: all 0.3s ease;
}

.choice:hover{
    background-color: #15181b; 
    cursor:pointer;
}

.green-glow{
    border: 4px solid rgb(60, 253, 92);
    box-shadow: 0 0 40px #02b10e;
}
.red-glow{
    border: 4px solid rgb(255, 43, 43);
    box-shadow: 0 0 40px #ff0000;
}
.grey-glow{
    border: 4px solid #464647;
    box-shadow: 0 0 40px #171a1b;
}

#action-message{
    text-align: center;
    color: white;
    font-family: 'Asap', sans-serif;
    font-weight: bold;
    font-size: 20px;
    margin-top: 20px;
}

img{
    width: 80px;
}

